<div class="login-wrapper">
  <div class="login-page-container">
    <div class="login-container">
      <app-travel-finder
        (addedTravelPlace)="addTravelPlace($event)"
        (checkAval)="CheckAvailability($event)"
      ></app-travel-finder>

      <div
        *ngIf="travelPlaceChoiseList.length != 0"
        class="selected-places-container"
      >
        <div class="seleced-places-title">Selected Places</div>
        <div
          *ngFor="let selectedTravelPlace of travelPlaceChoiseList"
          class="selected-places-card"
        >
          <img src="{{ selectedTravelPlace.imageUrl }}" />
          <div class="name-country">
            <div class="name">
              {{ selectedTravelPlace.name }}
            </div>
            <div class="country">
              {{ selectedTravelPlace.country }}
            </div>
          </div>
          <mat-icon (click)="deleteItem(selectedTravelPlace)"> close </mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="findedArrangements" class="list-finding-arr">
    <div
      class="arrangements-group-content"
      *ngFor="let arrangementGroup of findedArrangements"
    >
      <div
        class="arrangemants-data-content"
        *ngFor="let arrangements of arrangementGroup.arrangements"
      >
        <div>
          {{ arrangements.travelPlace.name }} -
          {{ arrangements.travelPlace.country }}
        </div>
        <div>{{ arrangements.price }}</div>
        <div>{{ arrangements.travelCompany.name }}</div>
        <div>
          {{ arrangements.dateStart | date }} -
          {{ arrangements.dateEnd | date }}
        </div>
      </div>
      <div>{{ arrangementGroup.price }}</div>
    </div>
  </div>
</div>
