<div class="search-bar">
  <input placeholder="Search..." [(ngModel)]="searchValue" />
  <div class="button-div">
    <mat-icon (click)="SearchTravelPlaces()">search</mat-icon>
  </div>
</div>

<div class="cards">
  <div
    class="card"
    *ngFor="let places of travelPlacePartList; let i = index"
    routerLink="/travel-place-info/{{ i + 1 + 5 * page }}"
  >
    <div class="image-side">
      <img class="image-card" src="{{ places.imageUrl }}" />
      <div class="title">{{ places.name }}</div>
      <div class="subtitle">{{ places.country }}</div>
    </div>
    <div class="description-side">
      <div class="description" title="{{ places.description }}">
        {{ places.description }}
      </div>
    </div>
  </div>
  <mat-paginator
    [length]="numberOfPlaces"
    [pageSize]="5"
    aria-label="Select page"
    (page)="OnPageChange($event)"
  >
  </mat-paginator>
</div>
