<div class="title"><p>IN THE EARTH'S NATURE</p></div>

<button
  class="my-arr-button"
  mat-button
  *ngIf="autenticated"
  routerLink="/my-arangements"
>
  My arrangements
</button>

<button mat-button routerLink="/places">Places</button>
<button mat-button routerLink="/home-finding">Home</button>

<button mat-button *ngIf="autenticated" (click)="LogOut()">Log out</button>

<button mat-button *ngIf="!autenticated" (click)="OpenRegistrationPopUp()">
  Register
</button>
<button mat-button *ngIf="!autenticated" (click)="OpenLogInPopUp()">
  Log in
</button>
