<app-loader *ngIf="spinnerVisiable"></app-loader>

<img class="image-wrapper" src="{{ travelPlace.imageUrl }}" />
<div class="page-wrapper">
  <div class="image-text-content">
    <div class="title">{{ travelPlace.name }}</div>
    <div class="subtitle">{{ travelPlace.country }}</div>
    <div class="description">{{ travelPlace.description }}</div>
  </div>
</div>
<div class="no-arr" *ngIf="travelArr == false">
  "There are no arrangements for the given destination"
</div>
<div class="arrangement-content">
  <div class="card" *ngFor="let arrangement of arrangementList">
    <img src="{{ arrangement.travelCompany.imageUrl }}" />
    <div class="text-content">
      <div class="name-content-card">
        <div class="title">{{ arrangement.travelPlace.name }}</div>
        <div class="country">{{ arrangement.travelPlace.country }}</div>
      </div>

      <div class="date-content">
        <div>
          <div>Start: {{ arrangement.dateStart | date: "fullDate" }}</div>
          <div>{{ arrangement.dateStart | date: "shortTime" }}</div>
        </div>
        <div>
          <div>End: {{ arrangement.dateEnd | date: "fullDate" }}</div>
          <div>{{ arrangement.dateEnd | date: "shortTime" }}</div>
        </div>
      </div>
      <div class="card-footer">
        <div class="company-name">
          Company: {{ arrangement.travelCompany.name }}
        </div>
        <div class="seats">
          Number of vacancies: {{ arrangement.seatsInArrangement }}
        </div>
      </div>
    </div>

    <div class="price">{{ arrangement.price | number: "1.2-2" }} €</div>
  </div>
</div>
