@import "/src/assets/styles/variables";

:host {
    height: 100%;
    overflow-y: hidden;
    cursor: default;
}

.no-arr {
    color: $countryRed;
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
}

.image-wrapper {
    margin-top: 30px;
    background-repeat: no-repeat;
    object-fit: cover;
    height: calc(80vh - 60px);
    filter: blur(2px) brightness(0.7);
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.image-text-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -600px;
    width: 70%;
    height: calc(80vh - 200px);
}

.page-wrapper {
    margin: 0 15% 0 15%;
}

.title {
    color: $white;
    font-size: 90px;
    font-weight: bold;
    height: 90px;
    padding-top: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subtitle {
    color: $white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 80px;
}

.description {
    margin-top: auto;
    color: $white;
    font-size: 25px;
    line-height: 1.3;
}

.card {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid $black;
    margin-bottom: 30px;
}

.text-content {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 510px;
}

.date-content {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.name-content-card {
    display: flex;
    flex-direction: column;

    .title {
        font-size: 25px;
        font-weight: bold;
        color: $countryTravelPlace;
        height: 25px;
    }

    .country {
        font-size: 15px;
        font-weight: bold;
        color: $countryRed;
    }
}

.card-footer {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border-top: 1px solid $countryRed;
    color: $countryTravelPlace;
}

.arrangement-content {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 100px;
    padding-bottom: 100px;

    img {
        width: 350px;
        height: 250px;
    }
}

.price {
    padding: 30px;
    margin: auto;
    color: $blue;
    font-size: 50px;
    height: 100%;
}
