<app-loader *ngIf="spinnerVisiable"></app-loader>

<div class="arrangement-content">
  <div class="card" *ngFor="let arrangement of data.arrangements">
    <img src="{{ arrangement.travelCompany.imageUrl }}" />
    <div class="text-content">
      <div class="name-content-card">
        <div class="title">{{ arrangement.travelPlace.name }}</div>
        <div class="country">{{ arrangement.travelPlace.country }}</div>
      </div>

      <div class="date-content">
        <div>
          <div>Start: {{ arrangement.dateStart | date: "fullDate" }}</div>
          <div>{{ arrangement.dateStart | date: "shortTime" }}</div>
        </div>
        <div>
          <div>End: {{ arrangement.dateEnd | date: "fullDate" }}</div>
          <div>{{ arrangement.dateEnd | date: "shortTime" }}</div>
        </div>
      </div>
      <div class="card-footer">
        <div class="company-name">
          Company: {{ arrangement.travelCompany.name }}
        </div>
        <div class="seats">
          Number of vacancies: {{ arrangement.seatsInArrangement }}
        </div>
      </div>
    </div>

    <div class="price">{{ arrangement.price | number: "1.2-2" }} €</div>
  </div>
</div>

<div class="price-reservation">
  <div class="total-price">
    Total price: {{ data.price | number: "1.2-2" }} €
  </div>
  <button mat-raised-button color="primary" (click)="Reserves()">
    Reserves
  </button>
</div>
