$green: #483d8b;
$white: #ffffff;
$orange: #ffa500;
$grey: #808080;
$light-blue: #16a9da;
$black: #000000;
$darkcyan: #008b8b;
$countryTravelPlace: #483d8b;
$countryRed: #f76161;
$blue: #0060ff;
$addict-blue: #e1f5fe;
